{% extends "layout.html" %}
{% block content %}
    <div class="container-xxl">
        <div class="d-flex row justify-content-around">
            <div class="col-7">
                <div class="card bg-light">
                    <div class="card-header"><h4>Resultado de las ejecuciones</h4></div>
                    <div class="card-body" class="img-fluid w-100">
                        {{ execution_results|safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
      $('#datepicker').datepicker({
        language: 'es',
        clearBtn: true,
        startDate: new Date(2020, 0, 0),
        format: "mm-yyyy",
        viewMode: "months",
        minViewMode: "months"
      });

      $('#datepicker').datepicker('update', new Date({{ year }}, {{ month }}, 0));

      $('#datepicker').datepicker()
        .on("changeDate", function (e) {
          let date = e.date
          let url = window.location.href.split("?")[0];
          url = `${url}?year=${date.getFullYear()}&month=${date.getMonth() + 1}`
          window.location.href = url;
        });

    </script>
    <style>
        body {
            overflow-y: hidden;
        }
    </style>
{% endblock %}