{% extends "layout.html" %}
{% block content %}
    <div>
        <div class="d-flex justify-content-between pb-4">
            <h2>Listado de simulaciones</h2>
            <button type="button" class="btn btn-info" onClick="window.location.href = '{{url_for("view_controller.execution_plan_new")}}'">Nueva simulaci&oacute;n</button>
        </div>
        <div class="container-fluid">
            <table
                id="table"
                data-toggle="table"
                data-url="{{ url_for('execution_plan_controller.list_execution_plans') }}"
                data-side-pagination="server"
                data-pagination="true"
                data-filter="true"
                data-filter-control="true"
                data-locale="es-AR"
                data-page-size="5">
                <thead>
                <tr>
                    <th data-field="id">
                        ID
                    </th>
                    <th data-field="plan_name" data-formatter="planNameFormatter">
                        Nombre
                    </th>
                    <th data-field="user">
                        Usuario
                    </th>
                    <th data-field="created_at">
                        Fecha de creación
                    </th>
                    <th data-field="status" data-formatter="statusFormatter">
                        Estado
                    </th>
                    <th data-formatter="executionPlanActionFormatter">
                        Acciones
                    </th>
                </tr>
                </thead>
            </table>
        </div>
    </div>

    <script>
        let cancel_url = "{{ url_for('execution_plan_controller.cancel', execution_id='')|urlencode }}";
        function executionPlanActionFormatter(value, row) {
            let update_url = "{{ url_for("view_controller.execution_plan_read", execution_plan_id="")}}"
            
            let update_button = `
                <a class="btn btn-outline-secondary mr-2" title="Inspeccionar Simulacion" href="${update_url}${row["id"]}">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </a>
            `;

            let start_button = `
                <a class="btn btn-outline-secondary mr-2" title="Encolar Simulacion" ${row['status'] == "PENDING" ? '' : 'disabled data-toggle="tooltip" data-placement="bottom" title="Simulación Finalizada"'}>
                    <i class="fa-solid fa-play"></i>
                </a>
            `;
           
            let duplicate_button = `
                <button type="button" class="btn btn-outline-secondary mr-2" onclick="duplicateSimulation(${row['id']})" title="Duplicar Simulación">
                    <i class="fa-solid fa-clipboard"></i>
                </button>
            `;

            let edit_button = `
                <button type="button" class="btn btn-outline-secondary" title="Editar simulacion" onclick="editSimulation(${row['id']})">
                    <i class="fa-solid fa-code-compare"></i>
                </button>
            `;

            let cancel_button = `
                <button type="submit" class="btn btn-outline-danger" onclick="cancelSimulation(${row['id']}) ${row['status'] == "PENDING" || row['status'] == "RUNNING" ? '' : 'disabled data-toggle="tooltip" data-placement="bottom" title="Simulación Cancelada"'}>
                    <i class="fa-solid fa-times"></i>
                </button>
            `;
            
            return `
                <div class="d-flex justify-content-around">
                    ${update_button}
                    ${start_button}
                    ${duplicate_button}
                    ${edit_button}
                    ${cancel_button}
            `
        }

        function planNameFormatter(value) {
            if (value.length > 20)
                return value.substr(0, 20).concat('[...]');
            return value;
        }
        
        function statusFormatter(value) {
            const status_map = {
                PENDING: 'Pendiente',
                RUNNING: 'En ejecución',
                FINISHED: 'Finalizada',
                CANCELED: 'Cancelada',
                ERROR: 'Fallida'
            };
            return status_map[value];
        }

        function duplicateSimulation(id) {
            let duplicate_url = `{{ url_for('api_controller.copy_execution_plan', copyFrom='') }}${id}`;

            fetch(duplicate_url, {method: 'POST'})
            .then(response => {
                console.log('Duplicación exitosa');
                window.location.reload();
            })
            .catch(error => {
                console.error('Error al duplicar la simulación', error);
            });
        }
    
        function editSimulation(id) {
            let new_simulation_url = `{{ url_for('view_controller.edit_execution_plan', execution_plan_id='') }}${id}`
            window.location.href = new_simulation_url
        }

        function cancelSimulation(id) {
            let cancel_url = `{{ url_for('execution_plan_controller.cancel', execution_id='') }}${id}`;

            fetch(cancel_url, {method: 'POST'})
            .then(response => {
                console.log('Cancelacion exitosa');
            })
            .catch(error => {
                console.error('Error al cancelar la simulación', error);
            });
        }

    </script>

{% endblock %}