{% extends "layout.html" %}
{% block content %}
    <div>
        <div class="d-flex justify-content-between pb-4">
            {% if readonly %}
                <h2>Simulación #{{ execution_plan.id }}</h2>
                <button type="button" class="btn btn-outline-secondary" role="button" title="Editar simulacion" onclick="editSimulation({{ execution_plan.id }})">
                    <i class="fa-solid fa-pencil"></i>
                </button>
            {% else %}
                <h2>Nueva simulación</h2>
            {% endif %}
        </div>
        <div class="container-xxl">
            <form method=post
                  enctype=multipart/form-data
                  class="p-4 container needs-validation"
                  id="execution-plan-form"
                  action="{{ url_for("view_controller.save_execution_plan") }}">
                {{ form.csrf_token }}
                {% if readonly %}
                    <div class="form-group">
                        <label for="plan_name"><h5>Nombre del plan</h5></label>
                        <label class="form-control" id="plan_name" name="plan_name" readonly>{{ execution_plan.plan_name }}</label>
                    </div>
                    <div class="form-group">
                        <h5>Archivos de ejecución</h5>
                        {% for file in execution_files %}
                            <a href="{{ url_for('execution_plan_controller.download', _id=execution_plan.id, _file_type="execution-plan", _file=file)}}" class="btn btn-info" role="button" aria-pressed="true" name="geometryFileUpload" download style="font-size: smaller;margin: 2px;">
                                <i class="fa-solid fa-arrow-down"></i> {{file}}
                            </a>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {% if execution_result_files %}
                            <h5>Resultados</h5>
                            {% for file in execution_result_files %}
                                <a href="{{ url_for('execution_plan_controller.download', _id=execution_plan.id, _file_type="result", _file=file)}}" class="btn btn-info" role="button" aria-pressed="true" name="resultFileUpload" download style="font-size: smaller;margin: 2px;">
                                    <i class="fa-solid fa-arrow-down"></i> {{file}}
                                </a>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="userInput"><h5>Usuario</h5></label>
                        <label class="form-control" id="userInput" name="user" readonly>{{ execution_plan.user.full_name }}</label>
                    </div>
                    <div class="form-group">
                        <label for="createdAt"><h5>Fecha de creación</h5></label>
                        <label class="form-control" name="createdAt" id="createdAt" readonly>{{ pretty_date(execution_plan.created_at) }}</label>
                    </div>
                    <div class="form-group">
                        <h5>{{ form.execution_plan_output_list.label }}</h5>
                        <table class="table" id="execution_plan_output_table">
                              <thead>
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">River</th>
                                  <th scope="col">Reach</th>
                                  <th scope="col">River stat</th>
                                </tr>
                              </thead>
                              <tbody id="execution_plan_output_table_body">
                                {% for execution_plan_output in execution_plan.execution_plan_output_list %}
                                    <tr>
                                        {{ form.idx }}
                                        <th scope="row">{{loop.index}}</th>
                                        <td>{{ execution_plan_output.river }}</td>
                                        <td>{{ execution_plan_output.reach }}</td>
                                        <td>{{ execution_plan_output.river_stat }}</td>
                                    </tr>
                                {% endfor %}
                              </tbody>
                        </table>
                    </div>
                    <div class="d-flex align-items-center">
                        <div class="text-left">
                            <button class="btn btn-outline-secondary" onclick="duplicateSimulation({{ execution_plan.id }})">
                                <i class="fa-solid fa-clipboard"></i>
                                Duplicar Simulación
                            </button>
                        </div>
                        <div class="text-right ml-auto">
                            <a class="btn btn-secondary" href="{{ url_for('view_controller.execution_plan_list') }}">Volver</a>
                        </div>
                    </div>                    
                {% else %}
                    <div class="form-group">
                        <label for="plan_name"><h5>Nombre del plan</h5></label>
                        <input class="form-control" id="plan_name" name="plan_name">{% if form.plan_name.data %}{{ form.plan_name.data }}{% endif %}
                    </div>
                    <div class="form-group">
                        <label for="status-select"><h5>Geometría</h5></label>
                        <select class="custom-select" id="status-select" name="geometry_option">
                            <option value="default">Seleccione una categoría..</option>
                            {% for geometry in geometries %}
                                <option value="{{ geometry.id }}">{{ geometry.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="projectFileUpload"><h5>Proyecto</h5></label>
                        <input type="file" name="project_file" class="form-control-file" id="projectFileUpload">
                    </div>
                    <div class="form-group">
                        <label for="planFileUpload"><h5>Plan</h5></label>
                        <input type="file" name="plan_file" class="form-control-file" id="planFileUpload">
                    </div>
                    <div class="form-group">
                        <label for="flowFileUpload"><h5>Condiciones de borde</h5></label>
                        <input type="file" name="flow_file" class="form-control-file" id="flowFileUpload">
                    </div>
                    <div class="form-group">
                        <label for="restartFileUpload"><h5>Restart File</h5></label>
                        <input type="file" name="restart_file" class="form-control-file" id="restartFileUpload">
                    </div>
                    <div class="form-group">
                        <h5>{{ form.execution_plan_output_list.label }}</h5>
                        <table class="table" id="execution_plan_output_table">
                              <thead>
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">River</th>
                                  <th scope="col">Reach</th>
                                  <th scope="col">River stat</th>
                                  <th scope="col">Acciones</th>
                                </tr>
                              </thead>
                              <tbody id="execution_plan_output_table_body">
                                {% for form in form.execution_plan_output_list %}
                                    <tr>
                                        {{ form.idx }}
                                        <th scope="row">{{loop.index}}</th>
                                        <td>{{ form.river }}</td>
                                        <td>{{ form.reach }}</td>
                                        <td>{{ form.river_stat }}</td>
                                        <td><button type="button" class="btn btn-danger remove-row-execution-plan-output">&#8722;</button></td>
                                    </tr>
                                {% endfor %}
                              </tbody>
                        </table>
                        <button id="add-row-execution-plan" type="button" class="btn btn-success">&#43;</button>
                        <button id="clear-row-execution-plan" type="button" class="btn btn-danger">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                {% endif %}
            </form>
        </div>
    </div>
    <script>
        $('#startDateInput').datepicker({
            language: 'es',
            clearBtn: true,
            startDate: new Date(2021, 0, 0),
            endDate: "0d"
        });
        $('#endDateInput').datepicker({
            language: 'es',
            clearBtn: true,
            startDate: new Date(2021, 0, 0),
            endDate: "0d"
        });

        function removeRowListener(selector) {
            $( selector ).off("click")
            $( selector ).on("click", function() {
                $(this).parent().parent().remove();
            });
        }


        $( "#add-row-execution-plan" ).on("click", function() {
            let idx = 0
            tr = $("#execution_plan_output_table_body tr:last-child")
            if( tr.length ){
                idx = $("#execution_plan_output_table_body tr:last-child th")[0].textContent
                idx = parseInt(idx)
            }

            new_row = `
                <tr>
                    <th scope="row">${idx + 1}</th>
                    <td><input id="execution_plan_output_list-${idx}-river" name="execution_plan_output_list-${idx}-river" required="" type="text" value=""></td>
                    <td><input id="execution_plan_output_list-${idx}-reach" name="execution_plan_output_list-${idx}-reach" required="" type="text" value=""></td>
                    <td><input id="execution_plan_output_list-${idx}-river_stat" name="execution_plan_output_list-${idx}-river_stat" required="" type="text" value=""></td>
                    <td><button type="button" class="btn btn-danger remove-row-execution-plan-output">−</button></td>
                </tr>
            `

            $( "#execution_plan_output_table_body" ).append( new_row );
            removeRowListener(".remove-row-execution-plan-output")
        });

        function editSimulation(id) {
            let new_simulation_url = `{{ url_for('view_controller.execution_plan_edit_view', execution_plan_id='')}}${id}`
            window.location.href = new_simulation_url
        }

        function duplicateSimulation(id) {
            let copy_url = `{{ url_for('execution_plan_controller.copy', id='') }}${id}`;
            console.log('URL de copia:', copy_url);

            fetch(copy_url, { method: 'POST' })
                .then(response => {
                    if (response.status == 200){
                        let execution_plan_list_url = `{{ url_for('view_controller.execution_plan_list', duplicate_success='') }}${id}`;
                        window.location.href = execution_plan_list_url;
                    } else if (response.status == 400) {
                        let execution_plan_list_url = `{{ url_for('view_controller.execution_plan_list', duplicate_failed='') }}${id}`;
                        window.location.href = execution_plan_list_url;
                    }
                }).catch(error => {
                    console.error('Error al duplicar la simulación', error);
                });
        }
    </script>
    <style>
        .datepicker {
            border-radius: 0.25rem;
            border-color: lightgray;
        }
    </style>

{% endblock %}