{% extends "layout.html" %}
{% block content %}
    <div>
        <div class="d-flex justify-content-between pb-4">
            {% if readonly %}
                <h2>Simulación #{{ id }}</h2>
            {% else %}
                <h2>Nueva simulación</h2>
            {% endif %}
        </div>
        <div class="container-xxl">
            <form method=post
                  enctype=multipart/form-data
                  class="p-4 container needs-validation"
                  id="execution-plan-form"
                  action="{{ url_for("execution_plan_controller.save") }}">
                {{ form.csrf_token }}
                <div class="form-group">
                    <label for="planName"><h5>Nombre del plan</h5></label>
                    <input class="form-control" id="plan_name" name="plan_name">{% if form.plan_name.data %}{{ form.plan_name_data }}{% endif %}
                </div>
                <div class="form-group">
                    <label for="geometryInput"><h5>Geometría</h5></label>
                    <select class="custom-select" id="status-select" name="geometry_option">
                        <option value="default">Seleccione una categoría..</option>
                        {% for geometry in geometries %}
                            <option value="{{ geometry.id }}">{{ geometry.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="flowFileUpload"><h5>Condiciones de borde</h5></label>
                    <input type="file" name="flow_file" class="form-control-file" id="flowFileUpload">
                </div>
                <div class="form-group">
                    <label for="startDateInput"><h5>Fecha desde</h5></label>
                    {% if startDate %}
                        <input name="start_date" id="startDateInput" value={{ startDate }} type="text" class="datepicker col">
                    {% else %}
                        <input name="start_date" id="startDateInput" type="text" class="datepicker col">
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="endDateInput"><h5>Fecha hasta</h5></label>
                    {% if startDate %}
                        <input name="end_date" id="endDateInput" value={{ endDate }} type="text" class="datepicker col">
                    {% else %}
                        <input name="end_date" id="endDateInput" type="text" class="datepicker col">
                    {% endif %}
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        $('#startDateInput').datepicker({
            language: 'es',
            clearBtn: true,
            startDate: new Date(2021, 0, 0),
            endDate: "0d"
        });
        $('#endDateInput').datepicker({
            language: 'es',
            clearBtn: true,
            startDate: new Date(2021, 0, 0),
            endDate: "0d"
        });
    </script>
    <style>
        .datepicker {
            border-radius: 0.25rem;
            border-color: lightgray;
        }
    </style>

{% endblock %}