{% extends "layout.html" %}
{% block content %}
    <div>
        <div class="d-flex justify-content-between pb-4">
            {% if readonly %}
                <h2>Simulación #{{ execution_plan.id }}</h2>
            {% else %}
                <h2>Nueva simulación</h2>
            {% endif %}
        </div>
        <div class="container-xxl">
            <form method=post
                  enctype=multipart/form-data
                  class="p-4 container needs-validation"
                  id="execution-plan-form"
                  action="{{ url_for("view_controller.save_execution_plan") }}">
                {{ form.csrf_token }}
                {% if readonly %}
                    <div class="form-group">
                        <label for="plan_name"><h5>Nombre del plan</h5></label>
                        <label class="form-control" id="plan_name" name="plan_name" readonly>{{ execution_plan.plan_name }}</label>
                    </div>
                    <div class="form-group">
                        <h5>Archivos de ejecución</h5>
                        {% for file in execution_files %}
                            <a href="{{ url_for('execution_plan_controller.download', _id=execution_plan.id, _file=file)}}" class="btn btn-info" role="button" aria-pressed="true" name="geometryFileUpload" download style="font-size: smaller;">
                                <i class="fa-solid fa-arrow-down"></i> {{file}}
                            </a>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <label for="userInput"><h5>Usuario</h5></label>
                        <label class="form-control" id="userInput" name="user" readonly>{{ execution_plan.user.full_name }}</label>
                    </div>
                    <div class="form-group">
                        <label for="startDateInput"><h5>Fecha desde</h5></label>
                        <label class="form-control" name="startDate" id="startDateInput" readonly>{{ pretty_date(execution_plan.start_datetime) }}</label>
                    </div>
                    <div class="form-group">
                        <label for="endDateInput"><h5>Fecha hasta</h5></label>
                        <label class="form-control" name="endDate" id="endDateInput" readonly>{{ pretty_date(execution_plan.end_datetime) }}</label>
                    </div>
                    <div class="form-group">
                        <label for="createdAt"><h5>Fecha de creación</h5></label>
                        <label class="form-control" name="createdAt" id="createdAt" readonly>{{ pretty_date(execution_plan.created_at) }}</label>
                    </div>
                    <div class="text-right">
                        <a class="btn btn-secondary" href={{ url_for("view_controller.execution_plan_list") }}>Volver</a>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label for="plan_name"><h5>Nombre del plan</h5></label>
                        <input class="form-control" id="plan_name" name="plan_name">{% if form.plan_name.data %}{{ form.plan_name.data }}{% endif %}
                    </div>
                    <div class="form-group">
                        <label for="status-select"><h5>Geometría</h5></label>
                        <select class="custom-select" id="status-select" name="geometry_option">
                            <option value="default">Seleccione una categoría..</option>
                            {% for geometry in geometries %}
                                <option value="{{ geometry.id }}">{{ geometry.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="projectFileUpload"><h5>Proyecto</h5></label>
                        <input type="file" name="project_file" class="form-control-file" id="projectFileUpload">
                    </div>
                    <div class="form-group">
                        <label for="planFileUpload"><h5>Plan</h5></label>
                        <input type="file" name="plan_file" class="form-control-file" id="planFileUpload">
                    </div>
                    <div class="form-group">
                        <label for="flowFileUpload"><h5>Condiciones de borde</h5></label>
                        <input type="file" name="flow_file" class="form-control-file" id="flowFileUpload">
                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                {% endif %}
            </form>
        </div>
    </div>
    <script>
        $('#startDateInput').datepicker({
            language: 'es',
            clearBtn: true,
            startDate: new Date(2021, 0, 0),
            endDate: "0d"
        });
        $('#endDateInput').datepicker({
            language: 'es',
            clearBtn: true,
            startDate: new Date(2021, 0, 0),
            endDate: "0d"
        });
    </script>
    <style>
        .datepicker {
            border-radius: 0.25rem;
            border-color: lightgray;
        }
    </style>

{% endblock %}