{% extends "base.html" %}

{% block body %}
    <body class="position-absolute h-100 w-100">
    <div class="bg-light border-bottom d-flex justify-content-between w-100 text-l p-4 align-items-center">
        <div class="align-center">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Gesina logo" width="56" height="56">
            <h3 class="d-inline pl-4 align-middle">
                Gestor de simulaciones - INA
            </h3>
        </div>
        <div>
            {% if current_user.is_authenticated %}
                <h5 class="d-inline pr-3">
                    {{ current_user.full_name }}
                </h5>
                <a href="{{ url_for('view_controller.do_logout') }}" type="button" class="btn btn-outline-danger">Log out</a>
            {% endif %}
        </div>
    </div>

    <div class="d-flex h-100" id="wrapper">

        <!-- Sidebar-->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="list-group list-group-flush">
                {% if current_user.is_authenticated %}
                    <a class="list-group-item list-group-item-action bg-light"
                       href="{{ url_for('view_controller.home') }}">Actividad</a>
                    <a class="list-group-item list-group-item-action bg-light"
                       href="{{ url_for('view_controller.execution_plan_list') }}">Simulaciones hidrodin&aacute;micas</a>
                    <a class="list-group-item list-group-item-action bg-light"
                       href="{{ url_for('view_controller.geometry_list') }}">Geometr&iacute;as</a>
                    <a class="list-group-item list-group-item-action bg-light"
                       href="{{ url_for('view_controller.get_schedule_task_config') }}">Configuración</a>
                {% endif %}
            </div>
        </div>

        <div class="w-100">
            {% if errors is defined %}
                {% for error in errors %}
                    <div class="alert alert-danger error-message mb-n3" role="alert">
                        <button type="button" class="close close-error" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div>
                        {{ error }}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            {% if success is defined %}
            <div class="alert alert-success success-message mb-n3" role="alert">
                <button type="button" class="close close-success" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div>
                {{ success }}
                </div>
            </div>
            {% endif %}
            <div class="pt-3">
                <div class="container p-4">
                {% block content %}<h2 class="p-5">Bienvenido!</h2>{% endblock %}
                </div>
            </div>
        </div>
    </div>
    </body>
    <script>
        $(".close-error").on("click", function(){ $(".error-message").remove() })
        $(".close-success").on("click", function(){ $(".success-message").remove() })
    </script>
{% endblock %}