{% extends "base.html" %}

{% block body %}
    <body class="position-absolute h-100 w-100">
    <div class="bg-light border-bottom d-flex justify-content-between w-100 text-l p-4 align-items-center">
        <div class="align-center">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Gesina logo" width="56" height="56">
            <h3 class="d-inline pl-4 align-middle">
                Gestor de simulaciones - INA
            </h3>
        </div>
        <div>
            {% if current_user.is_authenticated %}
                <h5 class="d-inline pr-3">
                    {{ current_user.full_name }}
                </h5>
                {% if current_user.notifications == []  %}
                    <button class="btn btn-lg btn-link" type="button" id="notificationDropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="fa-regular fa-bell"></span><span class="caret"></span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" id="notificationsDropdown" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">No hay nuevas notificaciones</a>
                    </div>
                {% else %}
                    <button class="btn btn-lg btn-link" type="button" id="notificationDropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="fa-solid fa-bell"></span><span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" id="notificationsDropdown" style="max-height: 180px; overflow-y: auto;" aria-labelledby="dropdownMenuButton">
                        {% for notification in current_user.notifications %}
                            <li><a class="dropdown-item" style="max-width: 1000px" href="{{url_for('view_controller.read_notification', notification_id=notification.id)}}">La simulación #{{ notification.execution_plan.id }} con nombre <b>{{notification.execution_plan.plan_name}}</b> ha finalizado</a></li>
                        {% endfor %}
                    <div class="dropdown-divider"></div>
                    <li><a class="dropdown-item" id="dropdownAllNotificationsRead">Marcar Todas como Leidas</a> </li>
                    </ul>
                {% endif %}

                <button type="button" class="btn btn-danger" onClick="window.location.href = '{{url_for('view_controller.do_logout')}}'">Log Out</button>
            {% endif %}
        </div>
    </div>

    <div class="d-flex h-auto" id="wrapper">

        <!-- Sidebar-->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="list-group list-group-flush">
                {% if current_user.is_authenticated %}
                    <a class="list-group-item list-group-item-action bg-light"
                       href="{{ url_for('view_controller.home') }}">Actividad</a>
                    <a class="list-group-item list-group-item-action bg-light"
                       href="{{ url_for('view_controller.execution_plan_list') }}">Simulaciones hidrodin&aacute;micas</a>
                    <a class="list-group-item list-group-item-action bg-light"
                       href="{{ url_for('view_controller.geometry_list') }}">Geometr&iacute;as</a>
                    <a class="list-group-item list-group-item-action bg-light"
                       href="{{ url_for('view_controller.get_schedule_tasks') }}">Corridas programadas</a>
                {% endif %}
            </div>
        </div>

        <div class="w-100" style="min-height: 1000px">
            {% if errors is defined %}
                {% for error in errors %}
                    <div class="alert alert-danger error-message mb-n3" role="alert">
                        <button type="button" class="close close-error" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div>
                        {{ error }}
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
            {% if success_message is defined and success_message is not none %}
            <div class="alert alert-success success-message mb-n3" role="alert">
                <button type="button" class="close close-success" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div>
                {{ success_message }}
                </div>
            </div>
            {% endif %}
            <div class="pt-3">
                <div class="container p-4">
                {% block content %}<h2 class="p-5">Bienvenido!</h2>{% endblock %}
                </div>
            </div>
        </div>
    </div>
    </body>
    <script>
        $("#dropdownAllNotificationsRead").on("click", function(){
            fetch("/view/notifications/all/2",{
                method: "PUT"
            })
            .then(response => response.json())
            .then(data => {
              $("#notificationDropdownButton").replaceWith(
                `
                <button class="btn btn-lg btn-link" type="button" id="notificationDropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="fa-regular fa-bell"></span><span class="caret"></span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" id="notificationsDropdown" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">No hay nuevas notificaciones</a>
                    </div>
                `)
            })
            .catch((error) => {
              console.error('Error:', error);
            });
            $("#notificationsDropdown").click()
        })
        $(".close-error").on("click", function(){ $(".error-message").remove() })
        $(".close-success").on("click", function(){ $(".success-message").remove() })
    </script>
{% endblock %}
