{% extends "base.html" %}

{% block body %}
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-md-7 col-lg-5">
            <div class="login-wrap p-4 p-md-5">
                <div class="d-flex">
                    <div class="w-100">
                        <h3 class="mb-4">Iniciar sesi&oacute;n</h3>
                    </div>
                    <div class="w-100">
                        <p class="social-media d-flex justify-content-end">
                            <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span
                                    class="fa fa-facebook"></span></a>
                            <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span
                                    class="fa fa-twitter"></span></a>
                        </p>
                    </div>
                </div>
                <form class="login-form" method="post">
                    <div class="form-group">
                        <div class="icon d-flex align-items-center justify-content-center"><span
                                class="fa fa-user"></span></div>
                        <input name="username" type="text" class="form-control rounded-left" placeholder="Nombre de usuario" required=""
                               autocomplete="off"
                               style="background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;">
                    </div>
                    <div class="form-group">
                        <div class="icon d-flex align-items-center justify-content-center"><span
                                class="fa fa-lock"></span></div>
                        <input name="password" type="password" class="form-control rounded-left" placeholder="Password" required=""
                               autocomplete="off"
                               style="background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
                    </div>
                    <div class="form-group d-flex align-items-center">
                        <div class="w-100 d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary rounded submit">Login</button>
                        </div>
                    </div>
                    {% if incorrect %}
                        <div class="form-group mt-4">
                            <div class="w-100 text-center">
                                <p class="mb-1 text-danger">Usuario o contrase&ntilde;a incorrecto</p>
                            </div>
                        </div>
                    {% endif %}
                    <div class="form-group mt-4">
                        <div class="w-100 text-center">
                            <p class="mb-1">Si no tenés cuenta o perdiste la contraseña gestionala con soporte</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <style>
        html body {
            height: 100%;
            width: 100%;
            position: fixed;
        }
    </style>
{% endblock %}