{% extends "layout.html" %}
{% block content %}
    <div>
        <div class="d-flex justify-content-between pb-4">
            <h2>Listado de corridas programadas</h2>
            <button type="button" class="btn btn-info" onClick="window.location.href = '{{url_for("view_controller.schedule_task_new")}}'">Nueva corrida programada</button>
        </div>
        <div class="container-fluid">
            <table
                id="table"
                data-toggle="table"
                data-url="{{ url_for('schedule_controller.list_schedule_tasks') }}"
                data-side-pagination="server"
                data-pagination="true"
                data-filter="true"
                data-filter-control="true"
                data-locale="es-AR"
                data-page-size="5"
                data-page-list="[5, 10, 25, 50, 100, 200]">
                <thead>
                <tr>
                    <th data-field="id">
                        ID
                    </th>
                    <th data-field="name">
                        Nombre
                    </th>
                    <th data-field="description" data-formatter="descriptionFormatter">
                        Descripción
                    </th>
                    <th data-field="user">
                        Usuario
                    </th>
                    <th data-field="created_at">
                        Fecha de creación
                    </th>
                    <th data-formatter="actionFormatter">
                        Acciones
                    </th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <script>
        function actionFormatter(value, row) {
            let base_url = "{{ url_for("view_controller.get_schedule_task_config", schedule_task_id="")}}"

            let delete_button = `
                <button type="button" class="btn btn-outline-danger" onclick="deleteScheduledTask(${row['id']})">
                    <i class="fa-solid fa-trash-alt"></i>
                </button>
            `;

            let copy_button = `
                <button type="button" class="btn btn-outline-secondary" onclick="copyScheduledTask(${row['id']})">
                    <i class="fa-solid fa-clipboard"></i>
                </button>
            `;

            return `
                <a class="btn btn-outline-secondary" href="${base_url}${row["id"]}">
                    <i class="fa-solid fa-pencil"></i>
                </a>
                ${copy_button}
                ${delete_button}                
            `
          }
        function descriptionFormatter(value) {
            if (value.length > 20)
                return value.substr(0, 20).concat('[...]');
            return value;
        }

        function deleteScheduledTask(id) {
            let delete_url = `{{ url_for('schedule_controller.delete', scheduled_task_id='') }}${id}`;

            fetch(delete_url, {method: 'DELETE'})
            .then(response => {
                if (response.status == 200){
                    let schedule_list = `{{ url_for('view_controller.get_schedule_tasks', delete_success='') }}${id}`;
                    window.location.href = schedule_list;
                } else if (response.status == 400) {
                    let schedule_list = `{{ url_for('view_controller.get_schedule_tasks', delete_failed='') }}${id}`;
                    window.location.href = schedule_list;
                }
            })
            .catch(error => {
            });
        }

        function copyScheduledTask(id) {
            let copy_url = `{{ url_for('schedule_controller.copy', id='') }}${id}`;

            fetch(copy_url, {method: 'POST'})
            .then(response => {
                if (response.status == 200){
                    let schedule_list = `{{ url_for('view_controller.get_schedule_tasks', copy_success='') }}${id}`;
                    window.location.href = schedule_list;
                } else if (response.status == 400) {
                    let schedule_list = `{{ url_for('view_controller.get_schedule_tasks', copy_failed='') }}${id}`;
                    window.location.href = schedule_list;
                }
            })
            .catch(error => {
            });
        }
    </script>
{% endblock %}