{% extends "layout.html" %}
{% block content %}
    <div>
        <div class="d-flex justify-content-between pb-4">
            <h2>Configuración de simulaciones recurrentes</h2>
        </div>
        <div class="container-xxl">
            {% if id %}
                <form method=post
                      enctype=multipart/form-data
                      class="p-4 container needs-validation"
                      id="schedule-config-form"
                      action="{{ url_for('view_controller.save_or_create_schedule_config', schedule_config_id=id) }}">
            {% else %}
                <form method=post
                  enctype=multipart/form-data
                  class="p-4 container needs-validation"
                  id="schedule-config-form"
                  action="{{ url_for('view_controller.save_or_create_schedule_config', schedule_config_id='') }}">
            {% endif %}
                    {{ form.csrf_token }}
                    <div class="form-group">
                        {{ form.name.label }}: {{ form.name(class_="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.description.label }}: {{ form.description(class_="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.geometry_id.label }}: {{ form.geometry_id(class_="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.start_datetime.label }}: {{ form.start_datetime(class_="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.frequency.label }}: {{ form.frequency(class_="form-control") }}
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-switch">
                             {{ form.enabled(class_="custom-control-input") }} {{ form.enabled.label(class_="custom-control-label") }}
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>


        </div>
    </div>
{% endblock %}