{% extends "layout.html" %}
{% block content %}
    <div>
        <div class="d-flex justify-content-between">
            <h2>Configuración de simulaciones programadas</h2>
        </div>
            {% if id %}
                <form method=post
                      enctype=multipart/form-data
                      class="p-4 container needs-validation"
                      id="schedule-config-form"
                      action="{{ url_for('view_controller.save_or_create_schedule_config', schedule_config_id=id) }}">
            {% else %}
                <form method=post
                  enctype=multipart/form-data
                  class="p-4 container needs-validation"
                  id="schedule-config-form"
                  action="{{ url_for('view_controller.save_or_create_schedule_config', schedule_config_id='') }}">
            {% endif %}
                    {{ form.csrf_token }}
                    <ul class="nav nav-tabs" id="schedule_tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active"
                               id="general-tab"
                               data-toggle="tab"
                               role="tab"
                               aria-controls="generalSection"
                               aria-selected="true"
                               href="#generalSection">
                                General
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               id="border-condition-tab"
                               data-toggle="tab"
                               role="tab"
                               aria-controls="borderConditionSection"
                               aria-selected="false"
                               href="#borderConditionSection">
                                Configuración de borde
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               id="series-list-tab"
                               data-toggle="tab"
                               role="tab"
                               aria-controls="series_list_plan_container"
                               aria-selected="false"
                               href="#series_list_plan_container">
                                Configuración de plan
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content" id="schedult_tab_content">
                        <div class="tab-pane fade show active card card-body" id="generalSection" role="tabpanel" aria-labelledby="general-tab">
                            <div class="form-group">
                                {{ form.name.label }}: {{ form.name(class_="form-control") }}
                            </div>
                            <div class="form-group" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                                {{ form.description.label }}: {{ form.description(class_="form-control") }}
                            </div>
                            <div class="form-group">
                                {{ form.geometry_id.label }}:
                                <div class="font-italic" style="font-size:small;padding-bottom:6px">
                                    * Debe ser la misma que se incluya en el plan y en el proyecto.
                                </div>
                                {{ form.geometry_id(class_="form-control") }}
                            </div>
                            <div class="form-group">
                                {{ form.start_datetime.label }}: {{ form.start_datetime(class_="form-control") }}
                            </div>
                            <div class="form-group">
                                {{ form.frequency.label }}: {{ form.frequency(class_="form-control") }}
                            </div>
                            <div class="form-group" id="calibration_id_container">
                                {{ form.calibration_id.label }}: {{ form.calibration_id(class_="form-control") }}
                            </div>
                            {% if form.project_file_present %}
                                <div hidden id="project_file_present"></div>
                            {% endif %}
                            <div class="form-group">
                                 {{ form.project_file.label }}:
                                <div id="project-template-container">
                                    <a href="{{ url_for('schedule_controller.download', _id=form.idx, _file_name='prj_template.txt')}}" id="project-template-file" class="btn btn-info" role="button" aria-pressed="true" download style="font-size: smaller;"> <i class="fa-solid fa-arrow-down"></i> {{ 'prj_template.txt' }} </a>
                                    <button id="clear-project-template" type="button" class="btn btn-danger" style="font-size: smaller;">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </div>
                                {{ form.project_file(class_="form-control", id_="project-template-upload") }}
                            </div>
                        </div>
                        <div class="tab-pane fade card card-body" id="borderConditionSection" role="tabpanel" aria-labelledby="border-condition-tab">
                            <div class="form-group">
                                {{ form.observation_days.label }}: {{ form.observation_days(class_="form-control") }}
                            </div>
                            <div class="form-group">
                                {{ form.forecast_days.label }}: {{ form.forecast_days(class_="form-control") }}
                            </div>
                            <div class="d-flex justify-content-between pt-4">
                                <h5>Condiciones iniciales</h5>
                            </div>
                            <div class="form-group" id="start_condition_type_container">
                                {{ form.start_condition_type.label }}: {{ form.start_condition_type(class_="form-control") }}
                            </div>
                            <div class="form-group" id="restart_file_container">
                                {{ form.restart_file.label }}:
                                {% if form.restart_file_present %}
                                    <div hidden id="restart_file_present"></div>
                                {% endif %}
                                <div id="restart-file-upload-container">
                                    <a href="{{ url_for('schedule_controller.download', _id=form.idx, _file_name='restart_file.rst')}}" id="restart_file" class="btn btn-info" role="button" aria-pressed="true" download style="font-size: smaller;"> <i class="fa-solid fa-arrow-down"></i> {{ 'restart_file.rst' }} </a>
                                    <button id="clear-restart-file" type="button" class="btn btn-danger" style="font-size: smaller;">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </div>
                                {{ form.restart_file(class_="form-control", id_="restart-file-upload") }}
                            </div>

                            <div class="form-group" id="initial_flow_list_container">
                                {{ form.initial_flow_file.label }}: {{ form.initial_flow_file(class_="form-control") }}
                                <table class="table" id="initial_flow_table">
                                  <thead>
                                    <tr>
                                      <th scope="col">#</th>
                                      <th scope="col">River</th>
                                      <th scope="col">Reach</th>
                                      <th scope="col">River stat</th>
                                      <th scope="col">Flow</th>
                                      <th scope="col">Acciones</th>
                                    </tr>
                                  </thead>
                                  <tbody id="initial_flow_table_body">
                                    {% for form in form.initial_flow_list %}
                                        <tr>
                                            <th scope="row">{{loop.index}}</th>
                                            <td>{{ form.river }}</td>
                                            <td>{{ form.reach }}</td>
                                            <td>{{ form.river_stat }}</td>
                                            <td>{{ form.flow }}</td>
                                            <td><button type="button" class="btn btn-danger remove-row-initial-flow">&#8722;</button></td>
                                        </tr>
                                    {% endfor %}
                                  </tbody>
                                </table>
                                <button id="add-row-initial-flow" type="button" class="btn btn-success">&#43;</button>
                                <button id="clear-row-initial-flow" type="button" class="btn btn-danger">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </div>
                            <div class="d-flex justify-content-between pt-4">
                                <h5>Configuración de series</h5>
                            </div>
                            <div class="form-group" id="series_list_container">
                            {{ form.series_list_file.label }}: {{ form.series_list_file(class_="form-control") }}
                            <table class="table" id="series_table">
                              <thead>
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">River</th>
                                  <th scope="col">Reach</th>
                                  <th scope="col">River stat</th>
                                  <th scope="col">Intervalo</th>
                                  <th scope="col">Tipo de condicion de borde</th>
                                  <th scope="col">Id de series</th>
                                  <th scope="col">Acciones</th>
                                </tr>
                              </thead>
                              <tbody id="series_table_body">
                                {% for form in form.series_list %}
                                    <tr>
                                        <th scope="row">{{loop.index}}</th>
                                        <td>{{ form.river }}</td>
                                        <td>{{ form.reach }}</td>
                                        <td>{{ form.river_stat }}</td>
                                        <td><div class="d-flex flex-row">{{ form.interval.interval_value}}{{ form.interval.interval_unit }}</div></td>
                                        <td>{{ form.border_condition }}</td>
                                        <td>{{ form.series_id }}</td>
                                        <td class="d-flex justify-content-around">
                                            <button type="button" class="btn btn-danger remove-row-series">&#8722;</button>
                                            <button type="button" class="btn btn-success test-connection">
                                                <i class="fa fa-refresh" aria-hidden="true"></i>
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                            <button id="add-row-series" type="button" class="btn btn-success">&#43;</button>
                            <button id="clear-row-series" type="button" class="btn btn-danger">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                    </div>
                        </div>
                        <div class="tab-pane fade card card-body" id="series_list_plan_container" role="tabpanel" aria-labelledby="series-list-tab">
                            <div class="form-group">
                                {{ form.plan_file.label }}:
                                {% if form.plan_file_present %}
                                    <div hidden id="plan_file_present"></div>
                                {% endif %}
                                <div id="plan-template-container">
                                    <a href="{{ url_for('schedule_controller.download', _id=form.idx, _file_name='plan_template.txt')}}" id="plan-template-file" class="btn btn-info" role="button" aria-pressed="true" download style="font-size: smaller;"> <i class="fa-solid fa-arrow-down"></i> {{ 'plan_template.txt' }} </a>
                                    <button id="clear-plan-template" type="button" class="btn btn-danger" style="font-size: smaller;">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                </div>
                                {{ form.plan_file(class_="form-control", id_="plan-template-upload") }}
                            </div>
                            {{ form.plan_series_file.label }}: {{ form.plan_series_file(class_="form-control") }}

                            <div class="form-group mt-3" id="calibration_id_for_simulations_container">
                                {{ form.calibration_id_for_simulations.label }}: {{ form.calibration_id_for_simulations(class_="form-control") }}
                            </div>

                            <table class="table" id="series_plan_table">
                              <thead>
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">River</th>
                                  <th scope="col">Reach</th>
                                  <th scope="col">River stat</th>
                                  <th scope="col">Id de series de altura</th>
                                  <th scope="col">Id de series de flujo</th>
                                  <th scope="col">Cero de escala</th>
                                  <th scope="col">Acciones</th>
                                </tr>
                              </thead>
                              <tbody id="series_plan_table_body">
                                {% for form in form.plan_series_list %}
                                    <tr>
                                        {{ form.idx }}
                                        <th scope="row">{{loop.index}}</th>
                                        <td>{{ form.river }}</td>
                                        <td>{{ form.reach }}</td>
                                        <td>{{ form.river_stat }}</td>
                                        <td>{{ form.stage_series_id }}</td>
                                        <td>{{ form.flow_series_id }}</td>
                                        <td>{{ form.stage_datum }}</td>
                                        <td><button type="button" class="btn btn-danger remove-row-series remove-row-series-plan">&#8722;</button></td>
                                    </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                            <button id="add-row-series-plan" type="button" class="btn btn-success">&#43;</button>
                            <button id="clear-row-series-plan" type="button" class="btn btn-danger">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </div>
                    </div>
                    <div class="form-group pt-4 text-right">
                        <div class="custom-control custom-switch">
                             {{ form.enabled(class_="custom-control-input") }} {{ form.enabled.label(class_="custom-control-label") }}
                        </div>
                    </div>
                    <div class="form-group pt-2 text-right">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
            </form>
        </div>
    </div>

    <script>
        $("")
        $( "#add-row-initial-flow" ).on("click", function() {
            let idx = 0
            tr = $("#initial_flow_table_body tr:last-child")
            if( tr.length ){
                idx = $("#initial_flow_table_body tr:last-child th")[0].textContent
                idx = parseInt(idx)
            }

            new_row = `
                <tr>
                    <th scope="row">${idx + 1}</th>
                    <td><input id="initial_flow_list-${idx}-river" name="initial_flow_list-${idx}-river" required="" type="text" value=""></td>
                    <td><input id="initial_flow_list-${idx}-reach" name="initial_flow_list-${idx}-reach" required="" type="text" value=""></td>
                    <td><input id="initial_flow_list-${idx}-river_stat" name="initial_flow_list-${idx}-river_stat" required="" step="any" type="text" value=""></td>
                    <td><input id="initial_flow_list-${idx}-flow" name="initial_flow_list-${idx}-flow" required="" step="any" type="text" value=""></td>
                    <td><button type="button" class="btn btn-danger remove-row-initial-flow">&#8722;</button></td>
                </tr>
            `
            $( "#initial_flow_table_body" ).append( new_row );
            removeRowListener(".remove-row-initial-flow")
        });

        function removeRowListener(selector) {

            $( selector ).off("click")
            $( selector ).on("click", function() {
                debugger
                $(this).parent().parent().remove();
            });
        }

         function testConnection(selector) {
            $( selector ).off("click")
            $( selector ).on("click", async function () {
                var cal_id = $("#calibration_id")[0].value
                var serie_id = $(this).parent().parent().children()[6].children[0].value;
                const response = await fetch('/view/schedule_tasks/validate_border_conditions', {
                    method: "POST",
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        calibration_id: parseInt(cal_id),
                        series_id: parseInt(serie_id)
                    })
                });
                const content = await response.json();

                window.alert(content['result']);
            });
        }

        removeRowListener(".remove-row-initial-flow")
        hideShowInitialConditionConf()

        $( "#clear-row-initial-flow" ).on("click", function() {
            $('#initial_flow_table_body tr').remove();
        });

        function hideShowInitialConditionConf() {
            if( $("#start_condition_type")[0].value === "restart_file" ) {
                $("#restart_file_container").show()
                $("#initial_flow_list_container").hide()
            } else {
                $("#restart_file_container").hide()
                $("#initial_flow_list_container").show()
            }
        }

        $( "#start_condition_type" ).on("change", hideShowInitialConditionConf);

        $( "#clear-project-template" ).on("click", function() {
            $('#project-template-container').hide();
            $('#project-template-upload').show();
        });

        if($( "#project_file_present").length) {
            $('#project-template-upload').hide();
        } else {
            $('#project-template-container').hide();
        }

        $( "#clear-plan-template" ).on("click", function() {
            $('#plan-template-container').hide();
            $('#plan-template-upload').show();
        });

        if($( "#plan_file_present").length) {
            $('#plan-template-upload').hide();
        }else {
            $('#plan-template-container').hide();
        }

        $( "#clear-restart-file" ).on("click", function() {
            $('#restart-file-upload-container').hide();
            $('#restart-file-upload').show();
        });

        if($( "#restart_file_present").length) {
            $('#restart-file-upload').hide();
        }else {
            $('#restart-file-upload-container').hide();
        }

        $( "#add-row-series" ).on("click", function() {
            let idx = 0
            tr = $("#series_table_body tr:last-child")
            if( tr.length ){
                idx = $("#series_table_body tr:last-child th")[0].textContent
                idx = parseInt(idx)
            }

            new_row = `
                <tr>
                    <th scope="row">${idx + 1}</th>
                    <td><input id="series_list-${idx}-river" name="series_list-${idx}-river" required="" style="width: 80px" type="text" value=""></td>
                    <td><input id="series_list-${idx}-reach" name="series_list-${idx}-reach" required="" style="width: 80px" type="text" value=""></td>
                    <td><input id="series_list-${idx}-river_stat" name="series_list-${idx}-river_stat" required="" step="any" style="width: 80px" type="text" value=""></td>
                    <td><div class="d-flex flex-row"><input id="series_list-${idx}-interval-interval_value" name="series_list-${idx}-interval-interval_value" required="" style="width: 80px" type="number" value=""><select id="series_list-${idx}-interval-interval_unit" name="series_list-${idx}-interval-interval_unit" required=""><option value="MINUTE">MINUTE</option><option value="HOUR">HOUR</option><option value="DAY">DAY</option><option value="WEEK">WEEK</option></select></div></td>
                    <td><select id="series_list-${idx}-border_condition" name="series_list-${idx}-border_condition" required=""><option value="Stage Hydrograph">Stage Hydrograph</option><option value="Flow Hydrograph">Flow Hydrograph</option><option value="Lateral Inflow Hydrograph">Lateral Inflow Hydrograph</option></select></td>
                    <td><input id="series_list-${idx}-series_id" name="series_list-${idx}-series_id" required="" style="width: 80px" type="number" value=""></td>
                    <td class="d-flex justify-content-around">
                        <button type="button" class="btn btn-danger remove-row-series">&#8722;</button>
                        <button type="button" class="btn btn-success test-connection">
                            <i class="fa fa-refresh" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            `
            $( "#series_table_body" ).append( new_row );
            removeRowListener(".remove-row-series")
            testConnection(".test-connection")
        });

        removeRowListener(".remove-row-series")
        testConnection(".test-connection")

        $( "#clear-row-series" ).on("click", function() {
            $('#series_table_body tr').remove();
        });

        $( "#add-row-series-plan" ).on("click", function() {
            let idx = 0
            tr = $("#series_plan_table_body tr:last-child")
            if( tr.length ){
                idx = $("#series_plan_table_body tr:last-child th")[0].textContent
                idx = parseInt(idx)
            }

            new_row = `
                <tr>
                    <th scope="row">${idx + 1}</th>
                    <td><input id="plan_series_list-${idx}-river" name="plan_series_list-${idx}-river" required="" type="text" value="" style="width: 120px"></td>
                    <td><input id="plan_series_list-${idx}-reach" name="plan_series_list-${idx}-reach" required="" type="text" value="" style="width: 120px"></td>
                    <td><input id="plan_series_list-${idx}-river_stat" name="plan_series_list-${idx}-river_stat" required="" step="any" type="text" value="" style="width: 120px"></td>
                    <td><input id="plan_series_list-${idx}-stage_series_id" name="plan_series_list-${idx}-stage_series_id" required="" type="number" value="" style="width: 120px"></td>
                    <td><input id="plan_series_list-${idx}-flow_series_id" name="plan_series_list-${idx}-flow_series_id" required="" type="number" value="" style="width: 120px"></td>
                    <td><input id="plan_series_list-${idx}-stage_datum" name="plan_series_list-${idx}-stage_datum" required="" type="float" value="" style="width: 120px"></td>
                    <td><button type="button" class="btn btn-danger remove-row-series-plan">&#8722;</button></td>
                </tr>
            `

            $( "#series_plan_table_body" ).append( new_row );
            removeRowListener(".remove-row-series-plan")
        });

        removeRowListener(".series_plan_table_body")

        $( "#clear-row-series-plan" ).on("click", function() {
            $('#series_plan_table_body tr').remove();
        });

    </script>
{% endblock %}
